<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>0</integer>
		<key>price</key>
		<real>21</real>
		<key>evaluation</key>
		<real>3.3</real>
		<key>name</key>
		<string>四川菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>price</key>
		<integer>32</integer>
		<key>evaluation</key>
		<real>2.1</real>
		<key>name</key>
		<string>北京菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>price</key>
		<integer>45</integer>
		<key>evaluation</key>
		<real>2.8</real>
		<key>name</key>
		<string>东北菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>price</key>
		<integer>14</integer>
		<key>evaluation</key>
		<real>4.5</real>
		<key>name</key>
		<string>粤菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>price</key>
		<integer>45</integer>
		<key>evaluation</key>
		<real>2.4</real>
		<key>name</key>
		<string>浙江菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>price</key>
		<integer>64</integer>
		<key>evaluation</key>
		<real>3.9</real>
		<key>name</key>
		<string>江西菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>price</key>
		<integer>74</integer>
		<key>evaluation</key>
		<real>1</real>
		<key>name</key>
		<string>天津菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>price</key>
		<real>12.7</real>
		<key>evaluation</key>
		<real>2.6</real>
		<key>name</key>
		<string>贵州菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>price</key>
		<integer>62</integer>
		<key>evaluation</key>
		<real>4.3</real>
		<key>name</key>
		<string>云南菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>price</key>
		<real>78.59999999999999</real>
		<key>evaluation</key>
		<real>3.64</real>
		<key>name</key>
		<string>重庆菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>price</key>
		<integer>20</integer>
		<key>evaluation</key>
		<real>2.15</real>
		<key>name</key>
		<string>湖南菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>11</integer>
		<key>price</key>
		<integer>33</integer>
		<key>evaluation</key>
		<integer>0</integer>
		<key>name</key>
		<string>湖北菜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>12</integer>
		<key>price</key>
		<integer>35</integer>
		<key>evaluation</key>
		<real>5</real>
		<key>name</key>
		<string>中国菜</string>
	</dict>
</array>
</plist>
